.button-result-restart{
    position: absolute;
    width: 334px;
    height: 84px;
    left: 163px;
    top: 1029px;
    background: #037921;
    box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.5);
    border-radius: 70px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 150%;
    letter-spacing: -0.011em;
    color: #FFFFFF;
    border: 0;
}

.button-result-share{
    position: absolute;
    width: 281px;
    left: 1530px;
    top: 1058px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    color: #043B24;
    border: 0;
}

.share-icon{
    position: absolute;
    left: 110%;
    top: 8.38%;
}

.name{
    position: absolute;
    width: 837px;
    height: 139px;
    left: 163px;
    top: 75px; /*114px*/
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 150px;
    text-align: center;
    color: #043B24;
}

.scientificName{
    position: absolute;
    width: 774px;
    height: 109px;
    left: 163px;
    top: 210px; /*239px*/
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 70px;
    line-height: 150%;
    text-align: center;
    letter-spacing: -0.011em;
    color: #037921;
}

.arrow-link{
    position: absolute;
    left: 955px;
    top: 295px;
    width: 30px;
    height: 30px;
}

.container{
    position: absolute;
    width: 1300px;
    height: 645px;
    left: 163px;
    top: 386px;
}

.describe{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 150%;
    letter-spacing: -0.011em; 
    color: #043B24; 
}

.negrito{
    font-weight: bold;
}

.container-image{
    position: absolute;
    width: 478px;
    height: 635px;
    left: 1417px;
    top: 352px;
}